DEBUG = True

TMP_DIR = '/import/bc2/home/schwede/studga00/prog/qmean_web/django-website/tmp'
PROJECT_DIR = '/import/bc2/home/schwede/studga00/prog/qmean_web/django-website/projects'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}
