import os

DEBUG = True

BASE_DIR = '/scicore/home/schwede/studga00/prog/qmean2_web/django-website'
TMP_DIR = '/scicore/home/schwede/studga00/prog/qmean2_web/django-website/tmp'
PROJECT_DIR = '/scicore/home/schwede/studga00/prog/qmean2_web/django-website/projects'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}
