
body {
    padding-bottom: 20px;
    padding-top: 20px;
	padding-bottom: 70px; 
	background-color: #fefefe;
}
.footer {
    border-top: 1px solid #e5e5e5;
    color: #777;
    padding-top: 19px;
}
.navbar-brand{
	font-size: 3.5em;
	font-weight:bold;
}

.header img{
	max-height:50px;
	height:50px;
}
.header{
	margin-bottom:16px;
}

#id_sequence{
	width:100%;
}
form .table > tbody > tr > td,
form .table > tbody > tr > th
{
	border-top:none;
}
form label{
	font-weight:normal;
}
.error textarea, .error input, .error .progress{
	border:1px solid red;
}
#id_sequence{
	font-family:monospace;
}
#id_structureUploaded{
	display:none;
}
.uploadSuccess{
	color:#595;
}
.uploadFail{
	color:#B55;
}
.seqTextarea{
	overflow:hidden;
	resize:none;
	border:none;
	width:100%;
	font-family:monospace;
	font-size:.8em;
}

#pv_status {
    font-weight:bold;
    font:helvetica;
    font-size:.8em;
    position:absolute;
    bottom:0;
    right:0;
}
.subtle{
	opacity:.7;
}
.table tbody > tr:first-child td, .table tbody > tr:first-child th{
	border-top:none;
}
.table{
	margin-bottom:0px;
}
.qmean{
	width:100%;
}